@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>Acme Corporation draw side</b>.</h1>
    <h3> You are here because you recently bougt something from our webshop, which gives you a serial number you can register and see if you have won</h3>
 <a asp-controller="Submissions" asp-action="Create"><h1>Click her to submit your code</h1></a>
</div>
